@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --white: #fff;
}

* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  font-family: 'Inconsolata', "Noto Sans KR", monospace, sans-serif;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
  font-family: 'Inconsolata', "Noto Sans KR", monospace, sans-serif;
  -webkit-text-size-adjust: none;
  backface-visibility: hidden;
}

body {
  line-height: 1;
  margin: 0;
  font-family: 'Inconsolata', "Noto Sans KR", monospace, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

textarea {
  padding: 1rem;
  border: none;
  resize: none;
  font-family: 'Inconsolata', "Noto Sans KR", monospace, sans-serif;
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
a:hover,
a:active,
a:focus,
a {
  text-decoration: none;
}